<div>
    <form>
        <label>
            firstName
        </label>
        <input type="text" [(ngModel)]="formpopjo.name" name="name"><br>
        <label>
            email
        </label>
        <input type="email" [(ngModel)]="formpopjo.email" name="email"><br>
        <label>
            Gender
        </label>
        <div *ngFor="let each of genders;let i=index">
            <input type="radio" [(ngModel)]="each.enable" [name]="each.gend" [value]="each.gend"
                (change)="formpopjo.gender=each.gend">{{each.gend}}
        </div> -->
        <input type="radio" name="gender" ngModel name="each.gender" value="female"> female<br>
        <button [disabled]="validate()" type="button" (click)="validateFormPojo(formpopjo)">Submit</button>
    </form>
</div>

<div>
    <input type="text" [(ngModel)]="searchStr">
</div>

<div *ngIf="formArray.length > 0 ">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Upadte</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let each of formArray |mypipe:searchStr; let i=index">
                <td *ngIf="!each.edit">{{each.name}}</td>
                <td *ngIf="each.edit"><input type="text" [(ngModel)]="each.name"></td>
                <td *ngIf="!each.edit">{{each.email}}</td>
                <td *ngIf="each.edit"><input type="text" [(ngModel)]="each.email"></td>
                <td *ngIf="!each.edit">{{each.gender}}</td>
                <td *ngIf="each.edit"><input type="text" [(ngModel)]="each.gender"></td>
                <td><button (click)="delete(i)">delete</button></td>
                <td *ngIf="!each.edit"><button (click)="update(i)">update</button></td>
                <td *ngIf="each.edit"><button (click)="save(each,i)">save</button></td>
            </tr>
        </tbody>
    </table>
</div> -->

<h4>{{title | mypipe}}</h4>

<app-child [childVar]="title" (changeVal)="getData($event)"></app-child>
<router-outlet></router-outlet> 